<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/base">
<head>
<title>Oops - Looks like something went wrong!</title>
</head>
<body>
	<div layout:fragment="content">
		<section>
			<h2>Oops - Looks like something went wrong!</h2>
			<p th:if="${error != null}" th:text="${error.message}">Details</p>
			<p th:if="${error == null}">Sorry, but we haven't more details</p>
		</section>
	</div>
</body>
</html>
