<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/base">
<head>
<title>Change Password</title>
</head>
<body>
	<div layout:fragment="content">
		<section>
			<h2>Change Password</h2>
			<form class="form-horizontal" role="form" 
					th:action="@{change-password}" method="post" th:object="${changePassword}">
				<div class="form-group has-error" th:if="${#fields.hasGlobalErrors()}">
					<div th:each="err : ${#fields.globalErrors()}" class="col-md-offset-2 col-md-6">
						<div th:text="${err}" class="alert alert-danger" role="alert">
						</div>
					</div>
				</div>
				<div class="form-group" th:classappend="${#fields.hasErrors('userId') ? 'has-error' : ''}">
					<label for="username" class="col-md-2 control-label">User Id</label>
					<div class="col-md-6">
						<p class="form-control-static" th:text="${changePassword.userId}"></p>
						<span class="help-block" th:errors="*{userId}"></span>
					</div>
				</div>
				<div class="form-group" th:classappend="${#fields.hasErrors('oldPassword') ? 'has-error' : ''}">
					<label for="oldPassword" class="col-md-2 control-label">Old Password</label> 
					 <div class="col-md-6">
						<input type="password"
							class="form-control" id="oldPassword" placeholder="Your old password"
							th:field="*{oldPassword}" autofocus="autofocus" />
						<span class="help-block" th:errors="*{oldPassword}"></span>
					</div>
				</div>
				<div class="form-group" th:classappend="${#fields.hasErrors('newPassword') ? 'has-error' : ''}">
					<label for="newPassword" class="col-md-2 control-label">New Password</label> 
					 <div class="col-md-6">
						<input type="password"
							class="form-control" id="newPassword" placeholder="Your new  password"
							th:field="*{newPassword}" />
						<span class="help-block" th:errors="*{newPassword}"></span>
					</div>
				</div>
				<div class="form-group" th:classappend="${#fields.hasErrors('newPassword2') ? 'has-error' : ''}">
					<label for="newPassword2" class="col-md-2 control-label">Confirm new Password</label> 
					 <div class="col-md-6">
						<input type="password"
							class="form-control" id="newPassword2" placeholder="Confirm your new password"
							th:field="*{newPassword2}" />
						<span class="help-block" th:errors="*{newPassword2}"></span>
					</div>
				</div>
				<button name="changePassword" type="submit" class="col-md-offset-2 btn btn-default">Change Password</button>
			</form>
		</section>
	</div>
</body>
</html>
