<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/base">
<head>
<title>Login</title>
</head>
<body>
	<div layout:fragment="content">
		<section>
			<h2>Please Login</h2>
			<form role="form" th:action="@{login}" method="post" class="form-horizontal">
				<div class="form-group has-error" th:if="${session.SPRING_SECURITY_LAST_EXCEPTION != null}">
					<div class="col-md-offset-2 col-md-6">
						<div th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}" class="alert alert-danger" role="alert">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label" for="username">User Id</label> 
					<div class="col-md-6">
						<input type="text"
							class="form-control" id="username" placeholder="Your user id"
							name="username" autofocus="autofocus" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label" for="password">Password</label> 
					 <div class="col-md-6">
						<input type="password"
							class="form-control" id="password" placeholder="Your password"
							name="password" />
					</div>
				</div>
				<button name="login" type="submit" class="col-md-offset-2 btn btn-default">Login</button>
			</form>
		</section>
	</div>
</body>
</html>
